<% provide(:title, "Download") %>
<h1 class="text-center">Download</h1>
<h3>Download can be slow to start. You should right click on the link and save as... Download will start immediatly </h3>
<div class="row">
  <div class="col-md-12 text-center">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="text-center">
            Windows
          </th>
          <th class="text-center">
            OSX
          </th>
          <th class="text-center">
            Release
          </th>
        </tr>
      </thead>
      <tr>
        <td>
          <%=link_to "Download x64", download_tool_path(:id => "bot-win32-x64.zip") %>
          &nbsp
          &nbsp
          &nbsp
          &nbsp
          <%=link_to "Download x84", download_tool_path(:id => "bot-win32-ia32.zip") %>
        </td>
        <td>
          <%=link_to "Download x64", download_tool_path(:id => "bot-darwin-x64.zip") %>
        </td>
        <td>
          Version 1
        </td>
      </tr>
    </table>
  </div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77858550-1', 'auto');
  ga('send', 'pageview');

</script>