<% provide(:title, "FAQ") %>
<div class="sub-container">
  <div class="page-header text-center">
    <h1>FAQ</h1>
  </div>
    <p>
      <h2 style="font-weight:bold;"><u>I did not receive any mail. What can i do ?</u></h2>
      <h3>Sometimes mail can be detected as spam. Check you spam/junk mail.</h3>
    </p>
</div>
