<% provide(:title, "Help") %>
<h1 style="font-size:45px;" class="text-center">How does it work?</h1>
<div class="text-center">
 <h3>addition/edition of states/countries are called actions. Actions are made of steps.</h3>
 </br>
 <h3><u>Example: Action of edit state</u></h3>
 <h3><span style="color:#1798c1">step 1-</span> Salesforce connection</h3>
 <h3><span style="color:#1798c1">step 2-</span> Navigate to states and countries</h3>
 <h3><span style="color:#1798c1">step 3-</span> Search country related to the state to edit</h3>
 <h3><span style="color:#1798c1">step 4-</span> Edit the state</h3>
 <h3><span style="color:#1798c1">step 5-</span> Save changes</h3>
</div>
</br>
</br>

<h1 style="font-size:45px;" class="text-center">Instruction</h1>
<div class="text-center">
  <p>
    <h2><span style="color:#1798c1">1-</span> Choose the source sandbox</h2>
  </p>
  <p>
    <h2><span style="color:#1798c1">2-</span> Choose countries and states you want to add</h2>
  </p>
  <p>
    <h2><span style="color:#1798c1">3-</span> Same thing for countries and states to edit</h2>
  </p>
  <p>
    <h2><span style="color:#1798c1">4-</span> Choose your target sandbox</h2>
  </p>
  <p>
    <h2><span style="color:#1798c1">5-</span> Drink a coffee</h2>
  </p>
  <p>
    <h2><span style="color:#1798c1">6-</span> Check results</h2>
  </p>
</div>