<% provide(:title, "Home") %>
  <div class="center jumbotron">

    <p style="margin-top:0px">Salesforce bot</p>
    <p> for</p>
    <p>states and countries</p>
    <div class="row">
      <% if !logged_in? %>
        <%=link_to "Get if for free!", signup_path, class: "btn btn-lg btn-primary"%>
      <% end %>
      <h3>
        A simple way to add and edit states and countries on salesforce.com platform
      </h3>
    </div>
    <div class="row" style="text-align: right;font-size: 20px;color:#1798c1">
     Available on Windows and OSX</br> For salesforce classic only*
    </div>
  </div>

  <div class="pitch">
    <p>
      Did you ever had to create hundred of countries and states on salesforce platform ?
    </p>
    <p>
      Needless to say how it's a pain in the ***
    </p>
    <p>
      This tool may help you save a lot of your precious time
    </p>
  </div>

  <hr class="featurette-border">

  <div class="row featurette-border">
    <div class="col-md-7 col-md-push-5">
      <div class="step">1
        <h2 class="featurette-heading">Choose sandbox on which you want retrieve states and countries</h2>
      </div>
    </div>
    <div class="col-md-5 col-md-pull-7">
      <%= image_tag( "bot1.png", height: '375', width: '450', alt: "Rails logo") %>
    </div>
  </div>

  <hr class="featurette-border">


  <div class="row featurette">
    <div class="col-md-7">
      <div class="step">2</div>
      <h2 class="featurette-heading">Select states and countries to add</h2>
    </div>
    <div class="col-md-5">
      <%=image_tag( "bot2.png", height: '375', width: '450', alt: "Rails logo") %>
    </div>
  </div>

  <hr class="featurette-border">

  <div class="row featurette-border">
    <div class="col-md-7 col-md-push-5">
      <div class="step">3</div>
      <h2 class="featurette-heading">Select states and countries to edit</h2>
    </div>
    <div class="col-md-5 col-md-pull-7">
      <%= image_tag( "bot3.png", height: '375', width: '450', alt: "Rails logo") %>
    </div>
  </div>

  <hr class="featurette-border">

  <div class="row featurette">
    <div class="col-md-7">
      <div class="step">4</div>
      <h2 class="featurette-heading">Choose sandbox on which you want to create states and countries</h2>
    </div>
    <div class="col-md-5">
      <%=image_tag( "bot4.png", height: '375', width: '450', alt: "Rails logo")%>
    </div>
  </div>

  <hr class="featurette-border">

  <div class="row featurette-border">
    <div class="col-md-7 col-md-push-5">
      <div class="step">5</div>
      <h2 class="featurette-heading">Track progress of each processes</h2>
    </div>
    <div class="col-md-5 col-md-pull-7">
      <%=image_tag( "bot5.png", height: '375', width: '450', alt: "Rails logo") %>
    </div>
  </div>
  

  <hr class="featurette-border">

  <div class="row featurette">
    <div class="col-md-7">
      <div class="step">6</div>
      <h2 class="featurette-heading">Check results</h2>
    </div>
    <div class="col-md-5">
      <%=image_tag( "bot6.png", height: '375', width: '450', alt: "Rails logo")%>
    </div>
  </div>
  
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  
    ga('create', 'UA-77858550-1', 'auto');
    ga('send', 'pageview');
  </script>