<% provide(:title, "Contact") %>
<h1 class="text-center">Contact me</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
     
    <%= form_for @message do |f| %>
      <% if @message.errors.any? %>
        <div id="error_explanation">
          <div class="alert alert-danger">
            The form contains <%= pluralize(@message.errors.count, "error") %>
          </div>
          <ul>
            <% @message.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %> 
    
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form_control' %>
    
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form_control' %>
    
      <%= f.label :subject %>
      <%= f.text_field :subject, class: 'form_control' %>
    
      <%= f.label :content %>
      <%= f.text_area :content, class: 'form_control'%>
      <%= recaptcha_tags %> 
      <%= f.submit 'Send', class: "btn btn-primary"%>
    <% end %>
    
  </div> 
</div>
