<h1>Salesforce bot for states & countries</h1>

<p>Dear <%= @user.name %></p>

<p>Thanks for subscribe! Click on the link bellow to activate your account: </p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email) %>