<% provide(:title,  @user.name) %>

  <div class="row">
    <div class="col-md-4">
      <%= gravatar_for @user %>
    </div>
    <div class="col-md-4">
      <h1>Information</h1>
      <table class="table" style>
         <tr>
          <td>
            Name:
          </td>
          <td>
            <%= @user.name %>
          </td>
        </tr>
        <tr>
          <td>
            Email:
          </td>
          <td>
            <%= @user.email %>
          </td>
        </tr>
        <tr>
          <td>
            Inscription date:
          </td>
          <td>
            <%= @user.created_at %>
          </td>
        </tr>
        <tr>
          <td>
            Purchase date:
          </td>
          <td>
            <%= @user.purchased_at %>
          </td>
        </tr>
      </table>
    </div>
  </div>