@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
    font-family: 'orange_juiceregular';
    src: font-url('orange_juice/orange_juice_2.0-webfont.eot');
    src: font-url('orange_juice/orange_juice_2.0-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('orange_juice/orange_juice_2.0-webfont.woff2') format('woff2'),
         font-url('orange_juice/orange_juilsce_2.0-webfont.woff') format('woff'),
         font-url('orange_juice/orange_juice_2.0-webfont.ttf') format('truetype'),
         font-url('orange_juice/orange_juice_2.0-webfont.svg#orange_juiceregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'dk_prince_frogregular';
    src: font-url('dk_prince/dk_prince_frog-webfont.eot');
    src: font-url('dk_prince/dk_prince_frog-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('dk_prince/dk_prince_frog-webfont.woff2') format('woff2'),
         font-url('dk_prince/dk_prince_frog-webfont.woff') format('woff'),
         font-url('dk_prince/dk_prince_frog-webfont.ttf') format('truetype'),
         font-url('dk_prince/dk_prince_frog-webfont.svg#dk_prince_frogregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

$dk-prince:'dk_prince_frogregular';
$dark-grey-strong: #333;
$dark-grey-medium: #575757;
$dark-grey-soft: #777777;
$white: #FFF;

@mixin box_sizing{
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* button */
.btn:focus {
  outline: none !important;
}

.btn{
    border:0px solid transparent;
}

.donate-btn{
  width: 150px;
  height: 50px;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 2.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

/* Users index */
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

form{
    label, .btn{
      font-size:17px; 
    }
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: bold;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* gravatar */
.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* nav bar */
.navbar{
    font-family: $dk-prince;
    font-weight: bold;
    background: $dark-grey-strong;
}

.nav{
    li {
        margin-right: 25px;
        background: $dark-grey-strong;
        font-size: 30px;
    }
}

.dropdown-menu{
  background: $dark-grey-strong;
  font-size: 30px;
  left: 0px !important;
  
  li{
    color: $white;  
  }
  a{
    color: $dark-grey-soft !important;
    
    &:hover{
      color: $white !important;
      background-color:  $dark-grey-strong !important;
    }
  }
}


/* jumbotron */
.jumbotron {
    
    h3{
        color: $dark-grey-medium;
        font-weight: bold;
        /*font-family: $dk-prince;*/
    }
    
    p{
        font-family: $dk-prince;
        margin-top: 25px;
        margin-bottom: 20px;
        font-size: 100px;
        text-align: center;
        line-height: 80px;
    }
    
    .btn{
        float: right;
        background: #428bca;
        color: $white;
        font-size: 30px;
        font-weight: bold;
        font-family: $dk-prince;
        background-color: #1798c1;
    }

}

/* body */ 

body, html{
  height: 100%;
}

.container{
  height: 100%;
}

.featurette-heading{
    font-family: $dk-prince;
    font-weight: bold;
    font-size: 30px;
    color: $dark-grey-medium;
    text-align: center;
}

.step {
    font-family: $dk-prince;
    font-weight: bold;
    font-size: 80px;
    margin-top: 60px;
    text-align: center;
}

.pitch{
    margin-top: 80px;
    margin-bottom: 80px;
    
     p{
        font-family: $dk-prince;
        font-weight: bold;
        font-size: 25px;
        color: $dark-grey-medium;
        text-align: center;
    }
}

.featurette-border{
    margin-top: 60px;
    margin-bottom: 60px;
}

.sub-container{
    font-family: $dk-prince;
    font-weight: bold;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 100px auto 0px;
}

/* footer */

/*footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}*/

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-left: 50px;
  height: 60px;
  background-color: #f5f5f5;
  color: #777;
  font-weight: bold;
}


/* miscellaneous */
.debug_dump{
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box_sizing;
}