<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
       <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "GitHub", 'https://github.com/kokoweite/sfdcbot' %></li>
      </ul>  
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Instruction", help_path %></li>
        <% if logged_in? %>
          <li><%= link_to "Download", download_path %></li>
          <% if user_admin? %>
            <li><%= link_to "Users", users_path %></li>
          <% end %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
        <li><%= link_to "FAQ", faq_path %></li>
        <li><%= link_to "Contact", new_message_path %></li>
      </ul>
    </nav>
  </div>
</header>